<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.76.0" targetFramework="net45" />
  <package id="ConfigurationManager" version="1.0.9" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
</packages>